CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_DATABASE_ID=
CLOUDFLARE_ACCESS_TOKEN=

AUTH_SECRET=
AUTH_GITHUB_CLIENT_ID=
AUTH_GITHUB_CLIENT_SECRET=
AUTH_GOOGLE_CLIENT_ID=
AUTH_GOOGLE_CLIENT_SECRET=

RESEND_API_KEY=
RESEND_EMAIL_FROM=

POLAR_ORGANIZATION_ID=
POLAR_ACCESS_TOKEN=
POLAR_WEBHOOK_SECRET=
POLAR_SERVER=

POLAR_PRODUCT_ID_CORE=
POLAR_PRODUCT_ID_COMPLETE=
POLAR_PRODUCT_ID_AGENCY=

